@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.left-panel{
    position: absolute;
    padding: 2px 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 200ms;
    background: rgba(151, 161, 204, 0.93);
}

.place:hover{
    background: rgba(5, 211, 226, 0.4);
}

a{
    color: whitesmoke;
}

a:hover{
    color: #06D85F;
    transition: all 200ms;
}

.themes{
    border: 0.1px solid rgb(6, 20, 216, 0.6);
    border-radius: 15px;
    margin: 9px 1px;
    background: rgb(6, 20, 216, 0.6) ;
    font-size: xx-large;
    text-align: center;
}

.themes:hover{
    background: rgb(128, 128, 128, 0.6);
    border: 0.1px solid rgb(128, 128, 128, 0.6);
    color: #06D85F;
}

.nya{
    border: 0.1px solid rgb(6, 20, 216, 0.6);
    border-radius: 15px;
    margin: 9px 1px;
    background: rgb(6, 20, 216, 0.6) ;
    font-size: xx-large;
    text-align: center;
}

.nya:hover{
    background: rgb(128, 128, 128, 0.6);
    border: 0.1px solid rgb(128, 128, 128, 0.6);
    transition: 500ms;
    color: #06D85F;
}

#open-dialog{
    color: white;
    border: 0.1px solid rgb(6, 20, 216, 0.6);
    border-radius: 15px;
    width: 400px;
    background: rgb(6, 20, 216, 0.6) ;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
}

#open-dialog:hover{
    background: rgb(128, 128, 128, 0.6);
    border: 0.1px solid rgb(128, 128, 128, 0.6);
    transition: 500ms;
    color: #06D85F;
}

.popup{
  position: absolute;
  left: 600px;
  width: 150%;
  display: none; /* скрыть изначально */
  background: wheat;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  text-align: center;
}

span{
  position: absolute;
  right: 32px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: xx-large;
}

#MySearch{
  width: 70%;
  border-radius: 7px 0 0 7px;
  text-align: center;
}

.content-unitasis{
    text-align: center;

}

.content-unitasis{
    height: 40px;
    font-size: large;
    border-radius: 4px;
    border: 0.1px solid rgb(245, 58, 1);
    background: rgb(255, 255, 255, 0.6);
}