<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZXC_Toilet</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <button onclick="openPopup()">Забронировать Унитаз</button>

    <div id="popup" class="popup">
      
      <div id = "popup-content" class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <div id = "content-data">

        </div>
        
        <!-- {% for data in content %}
          <p>{{data.title}} - {{data.description}}</p>


        {% endfor %} -->
        
      </div>
    </div>
</body>
<script src="/static/js/zxc.js"></script>
</html>