<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZXC_Toilet</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="data:;base64,=">
</head>
<body>
<header>

  <div class="left-panel">
    <div class="logo">
      <a href="#" style="text-decoration: none;">SCIBIDI TOILET</a>
    </div>
    <div class="themes">
      <a href="#" style="text-decoration: none;">Наши точки</a>
    </div>
    <div class="nya">
      <a href="#" style="text-decoration: none;">Информация</a>
    </div>
    <div class="top-panel-content">
    <button onclick="openPopup()">List toilet</button>
    <div id="popup" class="popup">
      
      <div id = "popup-content" class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <div id = "content-data">

        </div>
      </div>
    </div>












        
      </div>
    </div>
  </header>
</body>
<script src="/static/js/zxc.js"></script>
</html>