<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZXC_Toilet</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="data:;base64,=">
</head>
<style>
  body{
    background: url(/static/img/pixelcut-export.png);
    background-size: 100%;
  }
</style>
<body>
<header>

  <div class="left-panel">
    <div class="logo">
      <img src="/static/img/logo.png" width="400px" alt="">
    </div>
    <div class="themes">
      <a href="#" style="text-decoration: none;">Наши точки</a>
    </div>
    <div class="nya">
      <a href="#" style="text-decoration: none;">Профиль</a>
    </div>
    <div class="top-panel-content">
    <button id="open-dialog" onclick="openPopup()">List toilet</button>
    <div id="popup" class="popup">
      <h1>List Unitas</h1>
      <input type="search" id="MySearch" name="q" placeholder="найти мать"
      onclick="getSearchData()">
      <button>Search</button>
      <span class="close" onclick="closePopup()">&times;</span>
      <div id = "popup-content" class="popup-content">
        <div id = "content-data">

        </div>
      </div>
    </div>




      </div>
    </div>
  </header>
</body>
<script src="/static/js/zxc.js"></script>
</html>